@import "tailwindcss";

@theme {
  --color-primary: #27caa1;
  --color-text-primary: var(--text-primary);
  --color-text-nav: #464646;
  --color-text-dday: #808284;
  --color-bg-primary: #e7f9f5;

  --animate-floating: floatY 5s ease-in-out infinite;

  --breakpoint-xs: 375px;
  --breakpoint-sm: 575px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1200px;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.ttf") format("truetype");
  font-weight: 45 920;
  font-display: swap;
}

:root {
  --text-primary: #212529;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Pretendard, sans-serif;
  line-height: 1.5;
  color: var(--text-primary);
}

@layer base {
  html {
    font-size: 16px;
  }

  @media (max-width: 375px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-width: 320px) {
    html {
      font-size: 12px;
    }
  }
}

@layer utilities {
  .container-w {
    width: 100%;
  }
  @media (min-width: 575px) {
    .container-w {
      width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container-w {
      width: 720px;
    }
  }
  @media (min-width: 990px) {
    .container-w {
      width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container-w {
      width: 1140px;
    }
  }
}

@keyframes floatY {
  0%,
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5em);
  }
  50%,
  90% {
    transform: translateY(-1.5em);
  }
  100% {
    transform: translateY(0);
  }
}

@layer components {
  .big-banner {
    @apply w-full h-100 rounded-4xl;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility skeleton {
  @apply bg-gray-200 animate-pulse;
}
